.spacex-shipment {
  &-list {
    padding-right: 20px;
    @media screen and (max-width: 767px) {
      position: absolute;
      background: black;
      left: -500px;
      transition: 1s ease;
      width: 100%;
      padding-right: 0;
      &-open {
        left: 0;
      }
    }

    &-title {
      font-size: 20px;
      font-weight: 400;
      padding-left: 12px;
    }

    ul {
      padding: 0;
      list-style: none;

      li {
        padding: 12px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 16px;

        &:hover {
          background: linear-gradient(90deg, rgba(45, 48, 56, 0) 22.92%, #2D3038 100%);
        }
      }
    }
  }
}

.form-group {
  & > label {
    display: block;
    padding: 0 5px 0 5px;
    font-size: 16px;
    pointer-events: none;
    color: white;
    margin-bottom: 10px;
  }

  .form-control {
    border: none;
    border-bottom: 2px solid #666666;
    border-radius: 10px;
    padding: 15px;
    @media screen and (max-width: 767px) {
      width: 100%;
      box-sizing: border-box;
    }
  }
}
