.spacex-header {
  margin-bottom: 32px;
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-menu {
    height: 2px;
    background: white;
    width: 30px;
    position: relative;
    @media (min-width: 767px) {
      display: none;
    }
    &:before {
      content: '';
      width: 30px;
      position: absolute;
      bottom: -8px;
      height: 2px;
      background: white;
    }

    &:after {
      content: '';
      width: 30px;
      position: absolute;
      top: -8px;
      height: 2px;
      background: white;
    }

    &-close {
      background: transparent;

      &:before {
        bottom: 0;
        transform: rotate(45deg);
      }

      &:after {
        top: 0;
        transform: rotate(-45deg);
      }
    }
  }
  @media screen and (max-width: 767px) {
    .form-group{
      margin-top: 30px;
    }
  }
}
