body {
  padding: 40px;
  @media screen and (max-width: 767px) {
    padding: 20px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1 0 0;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.flex {
  display: flex;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

@media screen and (max-width: 767px) {
  .col-xs-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

